<h1 style="text-align: center;">Your Dashboard</h1>
<div class="col">
  
{{!-- new post form --}}
<form class="post-form" style="width: 20rem; margin:2rem;">
  <h1>New Post</h1>
  <div class="mb-3">
    <label for="titleInput" class="form-label">Post Title</label>
    <input type="text" class="form-control" id="post-title">
  </div>
  <div class="mb-3">
    <label for="textInput" class="form-label">Post body</label>
    <textarea type="text" class="form-control" id="post-text" rows="3"></textarea>
    <button type="submit" class="btn btn-primary" id="post-submit">Submit</button>
  </div>
  </div>
</form>

{{!-- Show all historical posts --}}
{{#each posts as |post| }}
<div class="card" style="width: 50rem;">
  <div id="post-id" style="display:none">{{post.id}}</div>
  <button type="button" class="btn btn-danger" id="post-delete" style="width:20rem">Delete Post</button>
  <button type="button" class="btn btn-info" style="width:20rem">Update Post</button>
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Posted by YOU at {{format_date post.create_date}}</h6>
    <p class="card-text">{{post.text}}</p>
  </div>
</div>
{{/each}}

</div>



<script src="./js/post.js"></script>